:root {
    --accent-color: #2196f3;
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --primary-bgc-page: #fff;
    --secondary-bgc-main: #f5f4fa;
    --secondary-bgc-page: #2f303a;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
  }